<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - skfinfotech</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/dist/css/bootstrap.min.css" asp-append-version="true" />
    <script src="~/dist/js/jquery.min.js"></script>
    <script src="~/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/dist/css/business-casual.css" asp-append-version="true" />
    <style>
        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
    </style>
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="/dist/media/Mymind Infotech.webm" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
